* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* LOGIN PAGE WITH IMAGE */
.login-body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #020617;
}

/* Image Container */
.image-container {
    width: 400px;
    height: 520px;
    background-image: url("cylinder.jpg"); /* gas cylinder image */
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

/* Login box placed on image */
.login-box {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    background: rgba(255, 255, 255, 0.92);
    padding: 25px;
    border-radius: 15px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #0f172a;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #cbd5e1;
    font-size: 14px;
}

.login-box button {
    width: 100%;
    padding: 12px;
    background-color: #38bdf8;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #0ea5e9;
}


/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #0f172a;
}

.logo {
    color: #38bdf8;
    font-size: 24px;
    font-weight: bold;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

/* DASHBOARD */
.dashboard {
    padding: 40px 60px;
    background: #f8fafc;
    min-height: 90vh;
}

.cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 25px;
    width: 260px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card button {
    margin-top: 15px;
    padding: 10px;
    background: #38bdf8;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
/* MAIN CENTER TITLE */
.main-title {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #0f172a;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

/* WELCOME TEXT */
.welcome-text {
    text-align: center;
    font-size: 18px;
    color: #475569;
    margin-bottom: 40px;
}

/* BIG CARDS CONTAINER */
.big-cards {
    justify-content: center;
}

/* BIG ATTRACTIVE CARD */
.big-card {
    width: 300px;
    padding: 35px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.big-card h2 {
    margin-bottom: 15px;
    font-size: 22px;
    color: #0f172a;
}

.big-card p {
    font-size: 15px;
    margin-bottom: 20px;
    color: #475569;
}

.big-card button {
    padding: 12px 25px;
    font-size: 16px;
}

/* HOVER EFFECT */
.big-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}
